include:
  - ./common/monitoring/dev/docker-compose.monitoring.dev.yaml
  - ./common/minio/docker-compose.yaml
  - ./common/redis/docker-compose.redis.dev.yaml
  - ./common/db/dev/docker-compose.db.dev.yaml
  - ./common/rabbitmq/docker-compose.yaml
  - ./common/kong/docker-compose.yaml
  - ./common/hasura/docker-compose.yaml
  - ./common/keycloak/docker-compose.yaml
  - ./common/pgvector/docker-compose.yaml
  - ./common/milvus/docker-compose.yaml
  - ./epic/docker-compose.yaml

services:
  caddy:
    extends:
      file: ./common/caddy/docker-compose.yaml
      service: caddy
    volumes:
      - ./caddyfile-overrides/dev/Caddyfile.dev:/etc/caddy/Caddyfile

volumes:
  caddy_data:
  caddy_config:

