include:
  # - ./common/vault/docker-compose.yaml
 - ./common/db/docker-compose.yaml    #db is used for KEYCLOAK currently
 - ./common/rabbitmq/docker-compose.yaml
 - ./common/keycloak/docker-compose.yaml
 - ./common/kong/docker-compose.yaml
 - ./epic/docker-compose.yaml

services:
  caddy:
    extends:
      file: common/caddy/docker-compose.yaml
      service: caddy
    volumes:
     - ./epic:/etc/caddy/epic

volumes:
  caddy_data:
  caddy_config:
