services:
  epic_global_frontend:
      restart: always
      image: ghcr.io/${org}/epic-global-frontend:${EPIC_GLOBAL_FRONTEND_IMAGE_TAG:-${DEFAULT_IMAGE_TAG:?DEFAULT_IMAGE_TAG is not set}}
      environment:
        NEXT_PUBLIC_EPIC_BASE_URL: ${NEXT_PUBLIC_EPIC_BASE_URL:?NEXT_PUBLIC_EPIC_BASE_URL is not set}
        NEXT_PUBLIC_EPIC_CONTRACT_BASE_URL: ${NEXT_PUBLIC_EPIC_CONTRACT_BASE_URL:?NEXT_PUBLIC_EPIC_CONTRACT_BASE_URL is not set}
