services:
  hasura:
    image: hasura/graphql-engine:latest
    restart: always
    environment:
      HASURA_GRAPHQL_DATABASE_URL: ${BACKEND_SERVICE_DATABASE_URL:?BACKEND_SERVICE_DATABASE_URL is not set}
      HASURA_GRAPHQL_ENABLE_CONSOLE: ${HASURA_GRAPHQL_ENABLE_CONSOLE:-false}
      HASURA_GRAPHQL_ADMIN_SECRET: ${HASURA_GRAPHQL_ADMIN_SECRET:?HASURA_GRAPHQL_ADMIN_SECRET is not set}
      HASURA_GRAPHQL_UNAUTHORIZED_ROLE: ${HASURA_GRAPHQL_UNAUTHORIZED_ROLE:-public}

  hasura_ai:
    image: hasura/graphql-engine:latest
    restart: always
    environment:
      HASURA_GRAPHQL_DATABASE_URL: ${AI_SERVICE_DATABASE_URL:?AI_SERVICE_DATABASE_URL is not set}
      HASURA_GRAPHQL_ENABLE_CONSOLE: ${HASURA_GRAPHQL_ENABLE_CONSOLE_AI:-false}
      HASURA_GRAPHQL_ADMIN_SECRET: ${HASURA_GRAPHQL_ADMIN_SECRET_AI:?HASURA_GRAPHQL_ADMIN_SECRET_AI is not set}
      HASURA_GRAPHQL_UNAUTHORIZED_ROLE: ${HASURA_GRAPHQL_UNAUTHORIZED_ROLE_AI:-public}