services:
  epic_global_backend:
      image: ghcr.io/${org}/epic-global-backend:${EPIC_GLOBAL_BACKEND_IMAGE_TAG:-${DEFAULT_IMAGE_TAG:?DEFAULT_IMAGE_TAG is not set}}
      restart: always
      environment:
        BACKEND_SERVICE_DATABASE_URL: ${BACKEND_SERVICE_DATABASE_URL:?BACKEND_SERVICE_DATABASE_URL is not set}
        BACKEND_SERVICE_CACHE_HOST: ${BACKEND_SERVICE_CACHE_HOST:?BACKEND_SERVICE_CACHE_HOST is not set}
        BACKEND_SERVICE_CACHE_PORT: ${BACKEND_SERVICE_CACHE_PORT:?BACKEND_SERVICE_CACHE_PORT is not set}
        BACKEND_SERVICE_MINIO_ENDPOINT: ${BACKEND_SERVICE_MINIO_ENDPOINT:?BACKEND_SERVICE_MINIO_ENDPOINT is not set}
        BACKEND_SERVICE_MINIO_USE_SSL: ${BACKEND_SERVICE_MINIO_USE_SSL:?BACKEND_SERVICE_MINIO_USE_SSL is not set}
        BACKEND_SERVICE_MINIO_BUCKET_NAME: ${BACKEND_SERVICE_MINIO_BUCKET_NAME:?BACKEND_SERVICE_MINIO_BUCKET_NAME is not set}
        BACKEND_SERVICE_MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY:?BACKEND_SERVICE_MINIO_ACCESS_KEY is not set}
        BACKEND_SERVICE_MAX_FILES_TO_UPLOAD: ${BACKEND_SERVICE_MAX_FILES_TO_UPLOAD:?BACKEND_SERVICE_MAX_FILES_TO_UPLOAD is not set}
        BACKEND_SERVICE_SKU_REGISTRY_BASE_URL: ${BACKEND_SERVICE_SKU_REGISTRY_BASE_URL:?BACKEND_SERVICE_SKU_REGISTRY_BASE_URL is not set}
        BACKEND_SERVICE_SKU_LISTING_BASE_URL: ${BACKEND_SERVICE_SKU_LISTING_BASE_URL:?BACKEND_SERVICE_SKU_LISTING_BASE_URL is not set}
        BACKEND_SERVICE_AI_SERVICE_BASE_URL: ${BACKEND_SERVICE_AI_SERVICE_BASE_URL:?BACKEND_SERVICE_AI_SERVICE_BASE_URL is not set}
        BACKEND_SERVICE_AUTH_SERVICE_BASE_URL: ${BACKEND_SERVICE_AUTH_SERVICE_BASE_URL:?BACKEND_SERVICE_AUTH_SERVICE_BASE_URL is not set}
        BACKEND_SERVICE_KEYCLOAK_HOST_URL: ${BACKEND_SERVICE_KEYCLOAK_HOST_URL:?BACKEND_SERVICE_KEYCLOAK_HOST_URL is not set}
        BACKEND_SERVICE_KEYCLOAK_REALM: ${BACKEND_SERVICE_KEYCLOAK_REALM:?BACKEND_SERVICE_KEYCLOAK_REALM is not set}
        BACKEND_SERVICE_KEYCLOAK_CLIENT_ID: ${BACKEND_SERVICE_KEYCLOAK_CLIENT_ID:?BACKEND_SERVICE_KEYCLOAK_CLIENT_ID is not set}
        BACKEND_SERVICE_KEYCLOAK_CLIENT_SECRET: ${BACKEND_SERVICE_KEYCLOAK_CLIENT_SECRET:?BACKEND_SERVICE_KEYCLOAK_CLIENT_SECRET is not set}
        BACKEND_SERVICE_KEYCLOAK_CLIENT_UUID: ${BACKEND_SERVICE_KEYCLOAK_CLIENT_UUID:?BACKEND_SERVICE_KEYCLOAK_CLIENT_UUID is not set}
        BACKEND_SERVICE_KEYCLOAK_ROLE_UUID: ${BACKEND_SERVICE_KEYCLOAK_ROLE_UUID:?BACKEND_SERVICE_KEYCLOAK_ROLE_UUID is not set}
        BACKEND_SERVICE_DOCS_PASSWORD: ${BACKEND_SERVICE_DOCS_PASSWORD:?BACKEND_SERVICE_DOCS_PASSWORD is not set}
        BACKEND_SERVICE_ESM_AUTH_EMAIL: ${BACKEND_SERVICE_ESM_AUTH_EMAIL:?BACKEND_SERVICE_ESM_AUTH_EMAIL is not set}
        BACKEND_SERVICE_ESM_AUTH_PASSWORD: ${BACKEND_SERVICE_ESM_AUTH_PASSWORD:?BACKEND_SERVICE_ESM_AUTH_PASSWORD is not set}
        BACKEND_SERVICE_CREDENTIALS_ENCRYPTION_KEY: ${BACKEND_SERVICE_CREDENTIALS_ENCRYPTION_KEY:?BACKEND_SERVICE_CREDENTIALS_ENCRYPTION_KEY is not set}
        BACKEND_SERVICE_ASIN_FETCH_COUNTRY: ${BACKEND_SERVICE_ASIN_FETCH_COUNTRY:?BACKEND_SERVICE_ASIN_FETCH_COUNTRY is not set}
        BACKEND_SERVICE_REDIS_PASSWORD: ${BACKEND_SERVICE_REDIS_PASSWORD:?BACKEND_SERVICE_REDIS_PASSWORD is not set}
        BACKEND_SERVICE_REDIS_TLS_ENABLED: ${BACKEND_SERVICE_REDIS_TLS_ENABLED:?BACKEND_SERVICE_REDIS_TLS_ENABLED is not set}
        BACKEND_SERVICE_REDIS_TLS_CA: ${BACKEND_SERVICE_REDIS_TLS_CA:?BACKEND_SERVICE_REDIS_TLS_CA is not set}
