global:
  scrape_interval: 1m

scrape_configs:
  - job_name: 'node'
    scrape_interval: 5s
    scheme: https
    metrics_path: /metrics
    static_configs:
      - targets:
        - 'node-exporter.epicglobalinc.com'
        - node-exporter.fe.epicglobalinc.com
  
  - job_name: 'cadvisor'
    scrape_interval: 15s
    scheme: https
    metrics_path: /metrics
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets: 
        - 'cadvisor.epicglobalinc.com'
        - 'cadvisor.fe.epicglobalinc.com'
  
  # - job_name: 'kong'
  #   scrape_interval: 5s
  #   scheme: https
  #   metrics_path: /metrics
  #   static_configs:
  #     - targets: ['kong-admin.epic.dev.esmagico.in']
  #   tls_config:
  #     insecure_skip_verify: true