include:
  - ./common/monitoring/uat/docker-compose.core.yaml
  - ./common/minio/docker-compose.yaml
  - ./common/redis/docker-compose.redis.uat.yaml
  - ./common/db/uat/docker-compose.db.uat.yaml

services:
  caddy:
    extends:
      file: ./common/caddy/docker-compose.yaml
      service: caddy
    volumes:
      - ./caddyfile-overrides/uat/Caddyfile.uat-infra:/etc/caddy/Caddyfile
volumes:
  caddy_data:
  caddy_config:



